.App {
  width: 90%;
  max-width: 50rem;
  padding: 2rem;
  border-radius: 12px;
  background-color: white;
  margin: 4rem auto;
}

.Order {
  display: flex;
  flex-direction: column;
}

.FilterForm {
  margin-bottom: 40px;
}

.Select {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 4px;
}

.Summary > td:nth-child(1) {
  text-align: right;
}
